<div class="container"
     fxLayout="column"
     fxLayoutGap="10px">

  <div fxFlex>
    <div>
      <h3>About Me</h3>
      <hr>
    </div>
    <div fxFlex=60 class="text grey-background">
      <mat-list float >      
        <mat-list-item>
          <p mat-line>
            Hi! I am Shweta. 
            <p mat-line>
              I am a Software Engineer in Canada with a passion to 
            develop efficient data management systems. </p>
            <p mat-line>With 6 years of experience in software development,
            I have worked with Big Data Analytics firm </p>
            <p mat-line>to Extract, Transform and Load 
            data for report generation. </p>
            <p mat-line>My passion for creating and designing softwares has led me to get involved in 
            various projects. 
          </p>
          <p mat-line>
              &nbsp;
          </p>
          <p mat-line>
              <strong>Technical Skills:</strong>
          </p>
          <p mat-line>Languages: Java, Python, SQL, XML, HTML, CSS, PHP, Native Android</p>
          <p mat-line>SQL: Oracle, SQL Server, MySQL, Redis</p>
          <p mat-line>OS: Unix, Linux (Ubuntu)</p>
          <p mat-line>Cloud: Amazon AWS (S3, EMR)</p>
          <p mat-line>Development Tools: Git, Command-line, Intellij, Maven, Gradle</p>
        </mat-list-item>
      </mat-list>
    </div>
</div>

<div fxFlex=40>
  <img width="300px" height="300px" src="./assets/images/ClothingStore-Website.png"/>
</div>
  </div>

  <!-- <div fxFlex="40">
    <mat-list float >      
      <mat-list-item>
        <p mat-line>
          Hi! I am Shweta. 
          <p mat-line>
            I am a Software Engineer in Canada with a passion to 
          develop efficient data management systems. </p>
          <p mat-line>With 6 years of experience in software development,
          I have worked with Big Data Analytics firm </p>
          <p mat-line>to Extract, Transform and Load 
          data for report generation. </p>
          <p mat-line>My passion for creating and designing softwares has led me to get involved in 
          various projects. 
        </p>
        <p mat-line>
            &nbsp;
        </p>
        <p mat-line>
            <strong>Technical Skills:</strong>
        </p>
        <p mat-line>Languages: Java, Python, SQL, XML, HTML, CSS, PHP, Native Android</p>
        <p mat-line>SQL: Oracle, SQL Server, MySQL, Redis</p>
        <p mat-line>OS: Unix, Linux (Ubuntu)</p>
        <p mat-line>Cloud: Amazon AWS (S3, EMR)</p>
        <p mat-line>Development Tools: Git, Command-line, Intellij, Maven, Gradle</p>
      </mat-list-item>
    </mat-list>
  </div> -->

  <!-- <div>
      <div fxFlex=60 class="text grey-background">
          <mat-list float >      
            <mat-list-item>
              <p mat-line>
                Hi! I am Shweta. 
                <p mat-line>
                  I am a Software Engineer in Canada with a passion to 
                develop efficient data management systems. </p>
                <p mat-line>With 6 years of experience in software development,
                I have worked with Big Data Analytics firm </p>
                <p mat-line>to Extract, Transform and Load 
                data for report generation. </p>
                <p mat-line>My passion for creating and designing softwares has led me to get involved in 
                various projects. 
              </p>
              <p mat-line>
                  &nbsp;
              </p>
              <p mat-line>
                  <strong>Technical Skills:</strong>
              </p>
              <p mat-line>Languages: Java, Python, SQL, XML, HTML, CSS, PHP, Native Android</p>
              <p mat-line>SQL: Oracle, SQL Server, MySQL, Redis</p>
              <p mat-line>OS: Unix, Linux (Ubuntu)</p>
              <p mat-line>Cloud: Amazon AWS (S3, EMR)</p>
              <p mat-line>Development Tools: Git, Command-line, Intellij, Maven, Gradle</p>
            </mat-list-item>
          </mat-list>
        </div>
    </div>

    <div fxFlex=40>
      <img width="300px" height="300px" src="./assets/images/ClothingStore-Website.png"/>
    </div>
  

</div> -->


