<div class="container" fxLayout="column" fxLayoutGap="10px">

  <div fxFlex>
    <div>
      <h3>About Me</h3>
      <hr>
    </div>
  </div>

  <div class="container" fxLayout="row" fxLayoutAlign="space-around center">
    <div fxFlex="75" class="grey-container">
      <p>
        Hi! I am <strong>Shweta</strong>.
        <br>
        I am a Software Engineer in Canada with a passion to
        develop efficient data management systems.
        <br>
        With 6 years of experience in software development,
        I have worked with Big Data Analytics firm
        to Extract, Transform and Load
        data for report generation.
        <br> My passion for creating and designing softwares has led me to get involved in
        various projects.
      </p>

      <p>
        <strong>Technical Skills:</strong>
      </p>
      <ul>
        <li>Languages: Java, Python, SQL, XML, HTML, CSS, PHP, Native Android</li>
        <li>SQL: Oracle, SQL Server, MySQL, Redis</li>
        <li>OS: Unix, Linux (Ubuntu)</li>
        <li>Cloud: Amazon AWS (S3, EMR)</li>
        <li>Development Tools: Git, Command-line, Intellij, Maven, Gradle</li>
      </ul>

    </div>
    <div fxFlex fxLayout="column" fxLayoutAlign="space-around center" fxLayoutGap="25px">
      <div fxFlex>
        <a href="https://github.com/shwetastha" target="_blank">
          <button mat-fab color="primary">
            <img class="logo" src="assets/images/github-white.png">
          </button>
        </a>
      </div>
      <div fxFlex>
        <a href="https://www.linkedin.com/in/shweta-shrestha/" target="_blank">
          <button mat-fab color="primary">
            <img class="logo" src="assets/images/linkedin-white.png">
          </button>
        </a>
      </div>
      <div fxFlex>
        <a href="./assets/Resume-ShwetaShrestha" target="_blank" download>
          <button mat-fab color="primary">
            <img class="logo" src="assets/images/download-white.png">
          </button>
        </a>
      </div>
    </div>
  </div>


</div>