/* Coolors Exported Palette - coolors.co/d5c5c8-9da3a4-022b3a-db7f8e-ffdbda */

/* HSL */
$color1: hsla(349%, 16%, 80%, 1);
$color2: hsla(189%, 4%, 63%, 1);
$color3: hsla(196%, 93%, 12%, 1);
$color4: hsla(350%, 56%, 68%, 1);
$color5: hsla(2%, 100%, 93%, 1);

/* RGB */
$color1: rgba(213, 197, 200, 1);
$color2: rgba(157, 163, 164, 1);
$color3: rgba(2, 43, 58, 1);
$color4: rgba(219, 127, 142, 1);
$color5: rgba(255, 219, 218, 1);