<div class="container"
     fxLayout="column"
     fxLayoutGap="10px">

  <div fxFlex>
    <div>
      <h3>Projects</h3>
      <hr>
    </div>
  </div>

  <div fxFlex>
    <mat-grid-list cols="4" rowHeight="200px">
      <mat-grid-tile *ngFor="let portfolio of portfolios">
        <img height="200px" src={{portfolio.image}} alt={{portfolio.name}}>
        <mat-grid-tile-footer>
          <h1>{{portfolio.name | uppercase}}</h1>
        </mat-grid-tile-footer>
      </mat-grid-tile>
    </mat-grid-list>
  </div>

  

</div>

