<div class="container"
     fxLayout="column"
     fxLayoutGap="10px">

  <div fxFlex>
    <div>
      <h3>Projects</h3>
      <hr>
    </div>
  </div>

  <div fxFlex>
    <mat-grid-list cols="2" rowHeight="200px">
      <mat-grid-tile *ngFor="let portfolio of portfolios">
        <img height="200px" src={{portfolio.image}} alt={{portfolio.name}}>
        <mat-grid-tile-footer>
          <h1>{{portfolio.name | uppercase}}</h1>
        </mat-grid-tile-footer>
      </mat-grid-tile>
    </mat-grid-list>
  </div>

  <div fxFlex *ngIf="selectedPortfolio">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <h3>{{selectedPortfolio.name | uppercase}}</h3>
        </mat-card-title>
      </mat-card-header>
      <img mat-card-image src={{selectedPortfolio.image}} alt={{selectedPortfolio.name}}>
      <mat-card-content>
        <p>{{selectedPortfolio.description}}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>GitHub</button>
      </mat-card-actions>
    </mat-card>
  </div>

</div>

